debug = true
debug_exclude =  storm-load, storm-save, raw-query, webserver

[database]
# For SQLite
# connection = sqlite:goldmine.db

# For Postgres
connection = postgres://goldmine:goldmine@127.0.0.1/goldmine

[services]
[[http]]
port = 8080
engine = cherrypy
webroot = /home/user/goldmine/client-www # no trailing slash

