port = 8080
server = cherrypy
www_client = /home/goldmine/client-www/

#### Debug configuration
debug = true

# Excluding modules:
debug_exclude =  storm-load, storm-save, raw-query, webserver

#### Database configuration

# For SQLite
# db = sqlite:goldmine.db
db = postgres://goldmine:goldmine@localhost/goldmine
